body{
	font-family: Roboto;
	background-color: #F9F9F9; /* off white*/
	margin-left: 10%;
	margin-right: 10%;
}

td{
	padding: 3px;
	/*light table outline*/
	border: 1px solid #e6e6e6;
}

/*PROFILE BUTTON TO LINK*/
form input[type="submit"]{
    background: none;
    border: none;
    color: purple;
    font-size: medium;
    font-family: inherit;
    text-decoration: underline;
    cursor: pointer;
}

/*RETURN BUTTON*/

.returnButton{
	width: 170px;
    height: 25px;
    border: 1px solid #D8D8C8;
    background-color: #FFFFCE; /*grey*/
}
.returnButton a{
	 width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #000000;
	
}
.returnButton a:VISITED a:ACTIVE a:AFTER {
	text-decoration: none;
}
.returnButton a:HOVER {
	background-color: #FFFF66; /*red-orange*/
	border: 1px solid #000000;
}